header {
    text-align: right;
    background-color: Red;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    padding: 30px
}

ul {
    display: inline;

}

li {
    display: inline;
    color: white;
}

h1 {
    text-align: center;
    color: red;
}

img {
    width: 400px;
    height: 400px;
    border: 15px blue solid;
    padding: 50px red solid;
    position: relative;
    left: 35%;
}
